#username{
    background-image: url("../picture/username.jpg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right top;
    float: right;
}

#password{
    background-image: url("../picture/lock.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right top;
    float: right;

}

#login{
    float:right;
}